/*
******************
COMMON
******************
*/

@font-face {
    font-family: "akkurat";
    src: url("../font/akkurat.ttf");
}

html,body{margin:0;padding:0;}
body{font-family:"akkurat", "comic sans ms";padding:20px;}

#container{max-width:800px;margin:auto;}
h1, h2, h3, h4{margin:0;padding:0;text-align:left;font-weight:normal;}
h1{font-size:30px;font-weight:bold;line-height:35px;margin-bottom:20px;}
h4{font-size:16px;font-weight:bold;line-height:22px;}
p{margin:20px 0;padding:0;}
p, ul, li{color:#6c6f70;font-size:16px;line-height:22px;}
a{color:#ff8700;}
pre{display:block;margin:0;padding:0;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;}
footer {display: inline-block;}
.apn_ad_slot{display:inline-block;}

.footer{color:#999;text-align:center;}

/*
******************
BANNER
******************
*/

#left{margin-bottom:20px;font-size:0px;}
#left .apn_ad_slot{margin-right:20px;}
#left .apn_ad_slot:last-child{margin:0;}

/*
******************
BANNER 
:: INFINITE SCROLL
******************
*/

.tab{overflow: hidden;border: 1px solid #ccc;background-color: #f1f1f1;}
.tab button{background-color: inherit;float: left;border: none;outline: none;cursor: pointer;padding: 14px 16px;transition: 0.3s;}
.tab button:hover{background-color: #ddd;}
.tab button.active{background-color: #ccc;}
.tabcontent{display: none;padding: 6px 12px;border: 1px solid #ccc;border-top: none;}
#scrolldiv{margin:20px 0;}

/*
******************
BANNER 
:: ROADBLOCK
******************
*/

.roadblock #apn_ad_slot_2{margin-bottom:20px;}

/*
******************
BANNER 
:: VIDEO
******************
*/

.video_ad_slot_block{margin-top:20px;}
.video_ad_slot{display:inline-block;}